{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
{% endblock %}

{% block title %}
  Заказ {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Начало</a> &rsaquo;
    <a href="{% url "admin:shop_order_changelist" %}">Заказы</a>
    &rsaquo;
    <a href="{% url "admin:shop_order_change" order.id %}">Заказ {{ order.id }}</a>
    &rsaquo; Детали
  </div>
{% endblock %}

{% block content %}
<h1>Заказ {{ order.id }}</h1>
<ul class="object-tools">
  <li>
    <a href="#" onclick="window.print();">Распечатать</a>
  </li>
</ul>
<table class="ui striped blue table">
  <tr>
    <th>Создан</th>
    <td>{{ order.created }}</td>
  </tr>
  <tr>
    <th>Покупатель</th>
    <td>{{ order.first_name }} {{ order.last_name }}</td>
  </tr>
  <tr>
      <th>E-mail</th>
    <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
  </tr>
  <tr>
    <th>Адрес</th>
    <td>{{ order.postal_code }},  {{ order.city }},  {{ order.address }}</td>
  </tr>
    <th>Телефон</th>
    <td>{{ order.phone }}</td>
  </tr>

  <tr>
    <th>Общая сумма</th>
    <td>{{ order.summa }} &#x20bd;</td>
  </tr>
  <tr>
    <th>Статус</th>
    <td>{% if order.paid %}Оплачен{% else %}Не оплачен{% endif %}</td>
  </tr>
</table>

<div class="module">
  <div class="tabular inline-related last-related">
    <table class="ui striped blue table">
      <h2>Купленные товары</h2>
      <thead>
        <tr>
          <th>Продукт</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Всего</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.items.all %}
          <tr class="row{% cycle "1" "2" %}">
            <td>{{ item.product.name }}</td>
            <td class="num">{{ item.price }} &#x20bd;</td>
             <td class="num">{{ item.quantity }}</td>
            <td class="num">{{ item.get_cost }} &#x20bd;</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3">Оплата и доставка</td>
          <td >{{ order.get_payment_display }}</td>
        </tr>
        <tr class="total">
          <td colspan="3">Общая сумма</td>
          <td class="num">{{ order.summa}} &#x20bd;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}           