    <div class="ui fluid card" >
  
              <div class="content">
                <div class="ui sub header"><a href="">Реклама </a></div>
                <div class="ui clearing divider"></div>


                    <img class="right floated small ui image" src="/static/images/TEMP/fon9.jpg" >

                    <div class="ui small feed"></div>
      
              </div>
              
              <div class="extra content ">
                  <a href=""  class="ui red inverted button">Читать</a>
                    <div class="mini right floated"><i class="eye icon red"></i>
            
                      <a href=""  data-tooltip="Задать вопрос врачу - " data-inverted="" data-position="top left"><i class="user md icon orange"></i></a>
                    
            
                     <a  href="" data-tooltip="Комментарии" data-inverted="" data-position="top left"><i class="comment icon orange"></i></a> 
                   
                    </div>
              
            </div>
     </div>   