{% extends "base_general.html" %}

{% block title %} {{category.title|truncatewords:12}} {% endblock %}

{% block meta_description %}{{category.meta_description}}{% endblock %}
{% block meta_keywords %}препараты, для секса, купить препараты, категории продуктов{% endblock %}
{% block og_title %}{{category.title|truncatewords:12}} на сайте preparation.su {% endblock %}
{% block og_description %}{{category.meta_description}} {% endblock %}
{% block og_url %}{% url "shop:category-list" category.slug %}{% endblock %}
{% block item_name %}{{category.var.name}}{{category.name}}{% endblock %}
{% block item_description %}{{category.meta_description}} на сайте preparation.su{% endblock %}
{% block canonical %}{% url "shop:category-list" category.slug %}{% endblock%}
{% block breadcrumbs %}   
{{ block.super }}

 <span class="divider">></span> <a href="{% url "shop:razdel-list" %}">Каталог</a> <span class="divider">></span>  {{category.var.name}} <span class="divider">></span>  {{category.name}}
{% endblock breadcrumbs %}

<!-----------------main------------------------>
 {% block four_content_main %}   
  
  {{ block.super }}
  {% include "shop/_menu_accordion.html"  %}
    <div class="ui hidden divider"></div>
      
 {% endblock four_content_main %} 
 
 {% block twelve_content_main %}
      {{ block.super }}
      <div class="ui container">
        {% include "shop/_category-list.html" %} 
    </div>
  
 <!-------------------promo-------------------------->
  <div class="computer only column sixteen wide">    
 {% include "promo/970x250.html"  %}  
  
</div>
<div class="tablet only ui equal width row"> 
{% include "promo/728x90.html"  %}
 </div> 
<div class="sixteen wide  mobile only column"> 
 {% include "promo/320x100.html"  %} 
 {% include "promo/320x100.html"  %}  
</div>     
<!--------------------------------------------->         
 {% endblock twelve_content_main %}
<!-----------------end main------------------------>
    {% block footer_12 %}
     {% include "shop/__footer_menu_category.html"  %}
    {% endblock footer_12 %}  


 
 {% block domready %}
 {% endblock %}