{%load highlight %}
<div class="ui container">

 <a  href="{{result.object.get_absolute_url }}" rel="nofollow" data-tooltip="Препарат"  data-inverted="">
<i class="shopping bag icon large blue "></i></a> 
<a  href="{{result.object.get_absolute_url }}" rel="nofollow" >
<span class="ui sub header blue">"{{ result.object.name }}"  </span>
</a> 
<span class="ui basic small label"> {{ result.object.category.name }}  /  {{ result.object.name }}</span>
    <div class="content">               
        <div class="text">
            <a  href="{{result.object.get_absolute_url }}" rel="nofollow" >             
            {% highlight result.object.description with query max_length 100 %}
            </a>
        </div>
    </div>
<div class="ui divider"></div>
</div>
