   <!--  Mobile -->  
<div class="ui mobile tablet only padded grid" style="margin:0 0  220px 0;">
       <div class="ui top fixed borderless fluid menu small">
        <div class="brand item">
                           <!--<a href="/"> <img class="ui avatar image spaced" src="/static/images/logo2_r.png">-->
                            <span class="ui header sub red ">Preparation.su</span></a>
          </div>
        <div class="right menu">
          <div class="item">
            <button class="ui icon toggle basic button red" id="btn1">
              <i class="content icon large red"></i>
            </button>
          </div>
        </div>




<div class="ui first coupled modal">
    <div class="header">
      Modal #1
    </div>
    <div class="image content">
      <div class="image">
        <i class="right arrow icon"></i>
      </div>
      <div class="description">
        <p>We have more to share with you. Follow us along to modal 2</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui primary button">Proceed</div>
    </div>
  </div>
  <div class="ui small second coupled modal">
    <div class="header">
      Modal #2
    </div>
    <div class="content">
      <div class="description">
        <p>That's everything!</p>
        <p>Croissant muffin sesame snaps cookie oat cake biscuit caramels pie jujubes. Caramels wafer lollipop lollipop topping bonbon jelly-o marzipan. Chocolate cake brownie chocolate. Carrot cake dragée marzipan toffee cookie bonbon. Fruitcake fruitcake liquorice sweet roll chocolate candy canes pudding chocolate cake. Pie sweet roll chocolate powder candy canes cupcake ice cream cake marzipan. Dessert sweet marshmallow croissant fruitcake apple pie chupa chups apple pie caramels. Wafer lemon drops cookie cookie candy canes. Dragée jelly donut. Cake icing soufflé pudding. Halvah danish candy canes topping chupa chups cupcake candy jelly-o. Soufflé jelly bear claw cheesecake soufflé apple pie lollipop chupa chups.</p>


      </div>
    </div>
    <div class="actions">
      <div class="ui approve button">
        <i class="checkmark icon"></i>
        All Done
      </div>
    </div>
  </div>

    

  <!--<div class="ui first modal">-->
  <!--<div class="header">Header</div>-->
  <!--<div class="content">-->
    <!--<p></p>-->
  <!--</div>-->
  <!--<div class="actions">-->
    <!--<div class="ui approve button">Approve</div>-->
    <!--<div class="ui button">Neutral</div>-->
    <!--<div class="ui cancel button">Cancel</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="ui second modal">-->
  <!--<div class="header">Header</div>-->
  <!--<div class="content">-->
    <!--<p></p>-->
  <!--</div>-->
  <!--<div class="actions">-->
    <!--<div class="ui approve button">Approve</div>-->
    <!--<div class="ui button">Neutral</div>-->
    <!--<div class="ui cancel button">Cancel</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="ui modal ">-->
  <!--<div class="ui mobile tablet only padded grid" style="margin:0 0  220px 0;">-->
  <!--<i class="close icon"></i>-->
  <!--<div class="header">-->
    <!--Profile Picture-->
  <!--</div>-->
  

  
  <!--<div class="image content">-->
    <!--<div class="ui medium image">-->
      <!--<img src="/static/images/girlsmall.jpg">-->
    <!--</div>-->
    <!--<div class="description">-->
      <!--<div class="ui header">We've auto-chosen a profile image for you.</div>-->
      <!--<p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>-->
      <!--<p>Is it okay to use this photo?</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="actions">-->
    <!--<div class="ui black deny button">-->
      <!--Nope-->
    <!--</div>-->
    <!--<div class="ui positive right labeled icon button">-->
      <!--Yep, that's me-->
      <!--<i class="checkmark icon"></i>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--</div>-->

<!--------------------------------->



</div>
    <!-- End Mobile -->