  <!--foot-->

 
<div class="computer only  ui   grid "   style="width:cals(1920px);min-height:calc(195px);
background: #f6f6f6; object-fit: contain;
  background-size: cover;border-top:2px solid #DB2828;
" id="footer_desctop">
 <div class="ui hidden  divider"></div>   
                <div class="ui container " >
                    <div class="ui hidden  divider" ></div>   
                    <div class="ui stackable inverted  grid " >    
                                        <div class="four wide column centered row ">            
                                      <!--<div class="ui container ">-->
                                      Desktop в разделе Для секса лучшие и безопасные мировые препараты, 
                                      Женское здоровье рассматриваются вопросы перестройки женского организма.
                                       <!--</div>-->
                                         </div>
                     
                                          <div class="ui twelve wide column align right" >
                                       
                                       В разделе Омоложение представленны современные методы сохранения молодости,
                                       Применение БАД характеристики БАДов, статистика потребления 
                                                 
                                           </div>
        
                </div>
            </div>
    

</div>
    <!------------------------>
<div class="ui  segment footer"   style="width:cals(1920px);min-height:calc(105px);max-height:calc(100%);
background: #f6f6f6;object-fit: contain;
  background-size: cover;border-top:2px solid #DB2828;">
        <div class="ui container ">
            <div class="ui stackable inverted  grid " >
                
                      <div class="four wide column centered row ">   
                     {% block footer_4 %}  
                    <!--<div class="ui container ">-->
                    Mobile странах, в разделе Для секса лучшие и безопасные мировые препараты, 
                    Женское здоровье рассматриваются вопросы перестройки женского организма.
                     <!--</div>-->
                     {% endblock footer_4 %} 
                       </div>
   
                    <div class="ui twelve wide column align right" >
                      {% block footer_12 %}
                     {% endblock footer_12 %} 
                     В разделе Омоложение представленны современные методы сохранения молодости,
                     Применение БАД характеристики БАДов, статистика потребления 
                              
                         </div>
   


 
        </div>
    </div>
    

    
    </div>