  <!--foot-->

    
<div class="tablet mobile only ui inverted  segment footer"   style="width:cals(1920px);min-height:calc(295px);
background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)),url('/static/images/TEMP/fon13.jpg')
  ; object-fit: contain;
  background-size: cover;
" id="footer_mobile">
        <div class="ui container ">
            <div class="ui stackable inverted  grid " >
                
                      <div class="four wide column centered row ">            
                    <!--<div class="ui container ">-->
                    БАД в различных странах, в разделе Для секса лучшие и безопасные мировые препараты, 
                    Женское здоровье рассматриваются вопросы перестройки женского организма.
                     <!--</div>-->
                       </div>
   
                        <div class="ui twelve wide column align right" >
                     
                     В разделе Омоложение представленны современные методы сохранения молодости,
                     Применение БАД характеристики БАДов, статистика потребления 
                               
                         </div>
   


 
        </div>
    </div>
    

    
    </div>
    