  <!--foot-->


      <div class="four wide column centered row " >      
      <div class="ui  link list tiny ">
       <div class="item">
        <div class="middle aligned content">
        <img class="ui  image spaced" src="/static/images/counter/count.gif">
         <img class="ui  image spaced" src="/static/images/counter/logo.gif">
        </div>
          <div class="ui hidden divider"></div>
        </div>
       <div class="aligned content">
       
        <div class="brand item ">
                           <a href="/"> 
                           
                           <img class="ui avatar image spaced" src="/static/images/logo/logo_y.png">
                            <span class="ui header sub yellow">28 cool man</span></a>
        </div>
        </div>
         <div class="item tiny">
        Россия, Москва, Дмитровское ш. 60 А  <br/> Контакты: <a href="" class="item" ><i class="id mail icon "></i></a>
       </div>
        
       <div class="item">
       Все права защищены. 2007-{% now 'Y' %} |  28cm.ru
       </div>
    
       </div>
    </div>
    <!------------------------>



